<div class="add-deal-container">
  <mat-card>
    <h1>Add Deal</h1>
    <form
      [formGroup]="formGroup"
      *ngIf="deal && formGroup"
    >
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Original Price</mat-label>
        <input
          matInput
          type="number"
          formControlName="originalPrice"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Current Price</mat-label>
        <input
          matInput
          type="number"
          formControlName="currentPrice"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Image Url</mat-label>
        <input matInput formControlName="image">
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="addDeal()"
        [disabled]="!formGroup || !formGroup.valid"
      >Add Deal</button>
    </form>
  </mat-card>
</div>
